<!DOCTYPE html>
<html lang="en">
<head>
  <title> Product Search </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script type="text/javascript">
    $( document ).ready(function() {
      $("#{{category_id}}").addClass("active");
    });
  </script>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> <a class="navbar-brand" href="{{url_for('testimonial')}}">
                <img src="{{url_for('static', filename='img/another.png')}}" style="width:50%; height:40%;">
              </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item "> <a class="nav-link" href="{{url_for('login')}}"> Login </a> </li>
          </ul>
            <ul class="navbar-nav">
                <li class="nav-item "> <a class="nav-link" href="{{url_for('register', is_seller='1')}}">Become a Supplier </a> </li>
            </ul>
        </div>
    </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col_3">
      <div class="list-group">
        {% for category in categories %}
          <a id="{{category.id}}" href="{{url_for('get_mockup_products', category_id=category.id)}}" class="list-group-item list-group-item-action categories">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col_9">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">{{category_name}}</li>
        </ol>
        <div class="row">
          {% for product in products %}
              <div class="col_4">
                  <a><img src="{{url_for('static', filename='img/%s' % product.img_src)}}" class="img-thumbnail" href="{{url_for('login')}}" alt="Responsive image"></a>
                <p align="center"> {{product.name}} </p>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
