<!-- Displays the profile of people and lets them to update  -->
{% if is_seller %}
  {% extends "seller-layout.html" %}
{% else %}
  {% extends "customer-layout.html" %}
{% endif %}

{% block body %}
<title> Profile </title>
<h1 align='center'> {{user.username}} </h1>
<br/>
<h1 align='center'><span class="badge badge-default" data-placement="bottom" data-toggle="popover" title="Discount" data-content="<a> Subscribe to 4 more products to upgrade to <span class='badge badge-pill badge-warning'><h5>GOLD</h5></span> And get 10% Off</a>">SILVER</span></h1>

<div class="container-fluid box-shadow" id="profile">
<div id="profile_mascot_block" class="row" style="display:none;">
  <div class="col_4"></div>
  <div class="col_6">
    <wordwrap>
      <div class="alert alert-success" role="alert" id="profile_mascot_message">
      </div>
    </wordwrap>
  </div>
  <img class="text-right col_1" src="{{url_for('static', filename='img/potato.jpg')}}" style="height: 100px; width: 100px; float: right; border-radius: 25px;">
</div>
<br/>

  <div class="form-group row" id="profile_form">
    <label for="text-input" class="col_3 col_form-label">Username</label>
    <div class="col_9">
      <input class="form-control" type="text" value="{{user.username}}" id="username" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col_3 col_form-label">Email</label>
    <div class="col_9">
      <input class="form-control" type="email" value="{{user.email}}" id="email">
    </div>
  </div>
  <div class="form-group row">
    <label for="tel-input" class="col_3 col_form-label">Phone</label>
    <div class="col_9">
      <input class="form-control" type="tel" value="{{user.phone}}" id="phone">
    </div>
  </div>

  {% if not is_seller %}
    <div class="form-group row">
      <label for="text-input" class="col_3 col_form-label">Firstname</label>
      <div class="col_9">
        <input class="form-control" type="text" value="{{user.first_name}}" id="first_name">
      </div>
    </div>

    <div class="form-group row">
      <label for="text-input" class="col_3 col_form-label">Lastname</label>
      <div class="col_9">
        <input class="form-control" type="text" value="{{user.last_name}}" id="last_name">
      </div>
    </div>
  {% endif %}
<!-- </div> -->

<!-- <div class="container-fluid" id="address"> -->
  <p> Address </p>
  <div class="form-group row">
    <div class="col_9">
      <div class="form-group">
        {% if address %}
          <input class="form-control" type="text" placeholder="Street Name" value="{{address.street}}" id="street">
        {% else %}
          <input class="form-control" type="text" placeholder="Street Name" value="" id="street">
        {% endif %}
      </div>
    </div>

    <div class="col_3">
      <div class="form-group">
        {% if address %}
          <input class="form-control" type="number" placeholder="Apt #" value="{{address.apt_number}}" id="apt_number">
        {% else %}
          <input class="form-control" type="number" placeholder="Apt #" value="" id="apt_number">
        {% endif %}
      </div>
    </div>
  </div>
    <div class="form-group row">
      <div class="col_6">
        <div class="form-group">
          {% if address %}
            <input class="form-control" type="text" placeholder="city" value="{{address.city}}" id="city">
          {% else %}
            <input class="form-control" type="text" placeholder="city" value="" id="city">
          {% endif %}
        </div>
      </div>

      <div class="col_3">
        <div class="form-group">
          {% if address %}
            <input class="form-control" type="number" placeholder="Zip" value="{{address.zip}}" id="zip">
          {% else %}
            <input class="form-control" type="number" placeholder="Zip" value="" id="zip">
          {% endif %}
        </div>
      </div>

      <div class="col_3">
        <div class="form-group">
          {% if address %}
            <input class="form-control" type="text" placeholder="State" value="{{address.state}}" id="state">
          {% else %}
            <input class="form-control" type="text" placeholder="State" value="" id="state">
          {% endif %}
        </div>
      </div>
    </div>

  <div class="text-right">
    <button id="update_profile" type="submit" class="btn btn-primary">Update</button>
  </div>
  <br>
  <br>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $("#footer").removeAttr("style");
    $("#footer").attr("style", "bottom:0; margin:0; position:sticky; width:100%; background-color: #7B4E4E !important")
  });
</script>

{% endblock %}
